**/venv/
**/__pycache__/
**/.idea/

**/templates/
**/static/
**/files/
**/build/

**/train_data/
**/create_toc_model/
**/search_toc_model/
**/search_title_model/

**/create_toc_model.zip
**/search_toc_model.zip
**/search_title_model.zip

.sqlite3

test.py